.button {
  background-color: #750310;

  display: flex;
  justify-content: center;

  text-decoration: none;
  color: #fff;
  padding: 12px 3em;
  border-radius: 5px;
  border: none;
  transition: 100ms linear;
  font-family: "JetBrains Mono";

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: #fff;

    background-color: #ab222e;
  }
}
