textarea {
  resize: none;
  height: 200px;
  border-radius: 8px;
  background: #0d161b;
  outline: none;
  transition: 250ms ease-in-out;
  border: none;
  padding: 14px;
  color: #fff;
  width: 100%;

  &::placeholder {
    font-family: "JetBrains Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
  }

  &:focus-within {
    box-shadow: 0 0 0 3px #065e7c;
  }
}
