div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;

  label {
    color: #c4c4cc;
    margin-bottom: 0.5em;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  select {
    color: #fff;
    display: flex;
    height: 48px;
    padding: 16px;
    align-items: center;
    gap: 14px;
    align-self: stretch;
    border-radius: 5px;
    background: #0d161b;
    outline: none;
    transition: 250ms ease-in-out;
    border: none;

    &:focus-within {
      box-shadow: 0 0 0 3px #04d361;
    }
  }
}
